<html layout:decorate="~{usr/common/layout}">

<head>
    <title th:text="|글 - ${article.subject}|"></title>
</head>

<body>

<div class="flex-1 flex items-center justify-center" layout:fragment="content">
    <th:block th:replace="common/fragments :: toastuiEidtorLib"></th:block>

    <div class="container w-full px-4">
        <h1 class="mb-4">
            <i class="fa-regular fa-file-word"></i>
            <span th:text="|${board.name} 게시글|"></span>
        </h1>

        <div class="card bg-base-100 shadow-xl">
            <div class="card-body">
                <div class="detail grid grid-cols-[repeat(auto-fit,minmax(100px,1fr))] gap-3">
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">게시물번호</span>
                        </label>
                        <div th:text="${article.id}"></div>
                    </div>

                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">작성일</span>
                        </label>
                        <div th:text="${#temporals.format(article.createDate, 'yy.MM.dd')}"></div>
                    </div>

                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">작성자</span>
                        </label>
                        <div th:text="${article.author.nickname}"></div>
                    </div>

                    <div class="form-control col-span-full">
                        <label class="label">
                            <span class="label-text">제목</span>
                        </label>
                        <div th:text="${article.subject}"></div>
                    </div>

                    <div class="form-control col-span-full">
                        <label class="label">
                            <span class="label-text">태그</span>
                        </label>
                        <div th:utext="${article.getTagLinks('<a class=`link` href=`%s`>#%s</a>', '/usr/article/listByTag/%s')}"></div>
                    </div>

                    <div class="form-control col-span-full">
                        <label class="label">
                            <span class="label-text">내용</span>
                        </label>
                        <div class="toastui-editor-contents"
                             style="overflow-wrap: break-word;"
                             th:utext="${article.bodyHtmlForPrint}">
                        </div>
                    </div>

                    <div class="form-control col-span-full" th:each="fileEntry : ${filesMap}">
                        <label class="label">
                            <span class="label-text">첨부파일 <span th:text="${fileEntry.key}"></span></span>
                        </label>

                        <a th:href="|${fileEntry.value.downloadUrl}|" class="link">
                            <i class="fa-regular fa-file"></i>
                            첨부파일
                            <span th:text="${fileEntry.key}"></span>
                            (<span th:text="${fileEntry.value.originFileName}"></span>)
                            다운로드
                        </a>
                    </div>
                </div>
                <div class="mt-6">
                    <div class="text-center">
                        <a th:if="${@articleService.checkActorCanModify(@rq.member, article).success}"
                           class="btn btn-link"
                           th:href="|/usr/article/${board.code}/modify/${article.id}|">수정</a>
                        <a onclick="return confirm('정말로 삭제하시겠습니까?');"
                           th:if="${@articleService.checkActorCanRemove(@rq.member, article).success}"
                           class="btn btn-link"
                           th:href="|/usr/article/${board.code}/remove/${article.id}|" method="POST">삭제</a>
                        <a class="btn btn-link" th:href="|/usr/article/${board.code}/list|">목록</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>

</html>