<html layout:decorate="~{usr/common/layout}">

<head>
    <title th:text="|강의 - ${lecture.subject}|"></title>
</head>

<body>

<div class="flex-1 flex items-center justify-center" layout:fragment="content">
    <th:block th:replace="common/fragments :: toastuiEidtorLib"></th:block>

    <div class="container w-full px-4">
        <h1 class="mb-4 flex flex-row items-center justify-between">
            <div>
                <i class="fa-regular fa-star"></i>
                <span th:text="|${lecture.subject} 대시보드|"></span>
            </div>
        </h1>

        <div th:if="${@rq.login}" class="flex flex-row justify-start sticky top-[64px] bg-white z-50">
            <a class="btn btn-primary m-4 flex flex-col"
                th:unless="${@rq.isMemberEnrolledInLecture(lecture.id)} or ${@lectureService.checkProducerCanModify(@rq.member, lecture).success}"
                th:attr="href=${@productService.isLectureFree(lecture.id)} ? '/usr/member/enroll/' + ${lecture.id} : '/usr/cart/write/lecture/' + ${lecture.id}">
                <div th:unless="${lecture.product.free}" th:text="${#numbers.formatDecimal(lecture.product.price, 0, 'COMMA', 0, 'POINT')} + ' 원'"></div>
                <div >
                    수강신청
                </div>
            </a>
            <a th:if="${@lectureService.checkProducerCanModify(@rq.member, lecture).success}"
               class="btn btn-primary btn-sm m-4"
               th:href="|/usr/lecture/modify/${lecture.id}|">강의 정보 수정</a>
        </div>

        <div class="card bg-base-100 shadow-xl">
            <div class="card-body">
                <div class="detail grid grid-cols-[repeat(auto-fit,minmax(100px,1fr))] gap-3">
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">강의번호</span>
                        </label>
                        <div th:text="${lecture.id}"></div>
                    </div>

                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">등록일</span>
                        </label>
                        <div th:text="${#temporals.format(lecture.createDate, 'yy.MM.dd')}"></div>
                    </div>

                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">강사명</span>
                        </label>
                        <div th:text="${lecture.producer.producerName}"></div>
                    </div>

                    <div th:if="${@lectureService.checkProducerCanModify(@rq.member, lecture).success}"
                         class="form-control">
                        <label class="label">
                            <span class="label-text">상태</span>
                        </label>
                        <div th:text="${lecture.publicHanName}"></div>
                    </div>

                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">가격</span>
                        </label>
                        <div th:unless="${lecture.product.free}" th:text="${#numbers.formatDecimal(lecture.product.price, 0, 'COMMA', 0, 'POINT')} + ' 원'"></div>
                        <div th:if="${lecture.product.free}">무료강의</div>
                    </div>

                    <div class="form-control col-span-full">
                        <label class="label">
                            <span class="label-text">제목</span>
                        </label>
                        <div th:text="${lecture.subject}"></div>
                    </div>

                    <div class="form-control col-span-full">
                        <label class="label">
                            <span class="label-text">태그</span>
                        </label>
                        <div th:utext="${lecture.getTagLinks('<a class=`link` href=`%s`>#%s</a>', '/usr/article/listByTag/%s')}"></div>
                    </div>

                    <div class="form-control col-span-full">
                        <label class="label">
                            <span class="label-text">내용</span>
                        </label>
                        <div class="toastui-editor-contents"
                             style="overflow-wrap: break-word;"
                             th:utext="${lecture.bodyHtmlForPrint}">
                        </div>
                    </div>

                    <div class="form-control col-span-full " th:each="fileEntry : ${filesMap}">
                        <label class="label">
                            <span class="label-text">강의자료 <span th:text="${fileEntry.key}"></span></span>
                        </label>

                        <div>
                            <i class="fa-regular fa-file"></i>
                            강의자료
                            <span th:text="${fileEntry.key}"></span>
                            (<span th:text="${fileEntry.value.originFileName}"></span>)
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <h1 class="my-4 mt-8">
            <span class="text-lg">커리큘럼</span>
            <a th:href="|/usr/lesson/${lecture.id}/modify|" th:if="${@lectureService.checkProducerCanModify(@rq.member, lecture).success} and ${lecture.lessonsReady}"
                    class="btn btn-sm btn-primary ml-16">커리큘럼 수정하기</a>
        </h1>

        <div class="" th:if="${lecture.lessonsReady}">
            <table class="table">
                <!-- head -->
                <thead>
                <tr>
                    <th></th>
                    <th>수업 제목</th>
                    <th>수업 길이</th>
                </tr>
                </thead>
                <tbody th:each="lesson : ${lessons}">
                <tr>
                    <th th:text="|${lesson.sortNo} 강 |"></th>
                    <td>
                        <i class="fa-regular fa-circle-play mx-1"></i>
                        <i class="fa-solid fa-play mx-1"></i>
                        <span class="ml-4" th:text="${lesson.subject}"></span>
                    </td>
                    <td th:text="${lesson.lessonLengthForPrint}"></td>
                </tr>
                </tbody>
            </table>
            <div class="flex justify-center mt-8">
                <a class="btn btn-link" th:href="|/usr/lecture/list|">목록</a>
            </div>
        </div>

        <div class="" th:if="${!lecture.lessonsReady}">
            <div class="alert alert-info" >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current shrink-0 w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <span>강의가 업로드 중 입니다.</span>
            </div>
            <div class="flex justify-center mt-8">
                <a class="btn btn-link" th:href="|/usr/lecture/list|">목록</a>
            </div>
        </div>
    </div>


</div>

</body>

</html>