<html layout:decorate="~{usr/common/layout}">

<head>
    <title th:text="|강의 - ${lecture.subject}|"></title>
</head>

<body>

<div class="flex-1 flex items-center justify-center" layout:fragment="content">

    <div class="container w-full px-4">
        <h1 class="my-4">
            <i class="fa-solid fa-arrows-rotate"></i>
            <span th:text="|${lecture.subject} 커리큘럼 순서 수정|"></span>
        </h1>

        <div class="alert shadow-lg mb-8">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
            <div>
                <h3 class="font-bold">수업의 순서를 변경해보세요!</h3>
                <ul th:fragment="postTagInputDesc" class="mt-4 list-disc mx-5 text-gray-400 ">
                    <li>
                        수업을 <span class="text-red-400">클릭한채로 드래그</span> 하여 순서를 변경할 수 있습니다.
                    </li>
                </ul>
            </div>
        </div>

        <form method="post" th:action="|/usr/lesson/${lecture.id}/modifySortNo|" class="card bg-base-100 shadow-xl ">
            <div class="detail grid grid-rows-[repeat(auto-fit,minmax(70px,1fr))] gap-3">

                <div class="card bg-base-100 shadow-xl " >
                    <div class="card-body">
                        <div class="detail grid grid-rows-[repeat(auto-fit,minmax(70px,1fr))] gap-3 dragContainer">
                            <div th:each="lesson : ${lessons}" class="text-left my-4 draggable" draggable="true">
                                <input type="hidden" name="order" th:value="${lesson.id}">
                                <span class="btn btn-neutral">=</span>
                                <span class="btn btn-active btn-neutral" th:text="|${lesson.sortNo} 강 |"></span>
                                <span class="btn btn-primary w-[200px]"
                                        th:text="${lesson.subject}">
                                </span>
                                <span class="btn btn-active btn-neutral" th:text="${lesson.lessonLengthForPrint}"></span>
                            </div>
                        </div>

                        <div class="flex justify-center">
                            <button type="submit" class="btn btn-primary mt-6">순서 저장</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>

        <script>

            const draggables = document.querySelectorAll(".draggable");
            const containers = document.querySelectorAll(".dragContainer");

            draggables.forEach(draggable => {
                draggable.addEventListener("dragstart", () => {
                    draggable.classList.add("dragging");
                });

                draggable.addEventListener("dragend", () => {
                    draggable.classList.remove("dragging");
                    updateOrder();
                });
            });

            containers.forEach(container => {
                container.addEventListener("dragover", e => {
                    e.preventDefault();
                    const afterElement = getDragAfterElement(container, e.clientY); // x를 y로 변경
                    const draggable = document.querySelector(".dragging");
                    if (afterElement === undefined) {
                        container.appendChild(draggable);
                    } else {
                        container.insertBefore(draggable, afterElement);
                    }
                });
            });

            function getDragAfterElement(container, y) { // x를 y로 변경
                const draggableElements = [...container.querySelectorAll(".draggable:not(.dragging)")];

                return draggableElements.reduce((closest, child) => {
                    const box = child.getBoundingClientRect();
                    const offset = y - box.top - box.height / 2; // left와 width를 top과 height로 변경
                    if (offset < 0 && offset > closest.offset) {
                        return { offset: offset, element: child };
                    } else {
                        return closest;
                    }
                }, { offset: Number.NEGATIVE_INFINITY }).element;
            }

        </script>



    </div>

</div>

</body>

</html>