<!DOCTYPE html>
<html layout:decorate="~{common/layout.html}">

<head>


</head>

<body>


<header layout:fragment="header">
    <div class="navbar bg-base-100">
        <div class="navbar-start">
            <a class="btn btn-ghost btn-circle" href="/usr/member/me">
                <img alt="" class="w-[30px] h-[30px] rounded-full object-cover"
                     th:if="${@rq.login}" th:src="${@rq.profileImgUrl}">
            </a>

        </div>
        <div class="navbar-center">
            <a class="btn btn-ghost normal-case text-xl" href="/">모티베이션</a>
        </div>
        <div class="navbar-end">
            <a class="btn btn-ghost btn-circle" th:href="|/usr/cart/items|" th:if="${@rq.login}">
                <div class="indicator">
                    <span class="indicator-item badge badge-secondary badge-xs -mt-[10px]" th:text="${@rq.usersCartItems}"></span>
                    <i class="fa-solid fa-cart-shopping fa-xl"></i>
                </div>
            </a>
            <div class="dropdown relative">
                <label class="btn btn-ghost btn-circle" tabindex="0">
                    <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 6h16M4 12h16M4 18h7" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2"/>
                    </svg>
                </label>
                <ul class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52 right-0"
                    tabindex="0">
                    <li th:if="${@rq.admin}"><a href="/adm/home/main"><i class="fa-solid fa-gauge-high"></i> 관리자</a></li>
                    <li th:if="${@rq.logout}"><a href="/usr/member/login"><i
                            class="fa-solid fa-arrow-right-to-bracket"></i> 로그인</a></li>
                    <li th:if="${@rq.logout}"><a href="/usr/member/join"><i class="fa-solid fa-user-plus"></i> 회원가입</a>
                    </li>
                    <li th:if="${@rq.login}"><a href="/usr/member/me"><i class="fa-solid fa-user"></i> 내 정보</a></li>
                    <li th:if="${@rq.login}">
                        <a href="/usr/member/checkPassword?redirectUrl=/usr/member/beProducer">
                            <i class="fa-brands fa-product-hunt"></i>
                            <span th:text="${@rq.producerPageName}"></span>
                        </a>
                    </li>
                    <li><a href="/usr/lecture/list"><i class="fa-solid fa-person-chalkboard"></i> 강의장</a>
                    </li>
                    <li th:if="${@rq.login}"><a href="/usr/member/myLectures"><i class="fa-solid fa-chalkboard-user"></i> 나의 강의장</a>
                    </li>
                    <li><a href="/usr/post/list"><i class="fa-regular fa-rectangle-list"></i> 글</a>
                    </li>
                    <li th:if="${@rq.login}"><a href="/usr/post/myList"><i class="fa-regular fa-file-lines"></i> 내 글</a>
                    </li>
                    <li><a href="/usr/series/list"><i class="fa-solid fa-book-open"></i> 시리즈</a>
                    </li>
                    <li th:if="${@rq.producer}"><a href="/usr/series/myList"><i class="fa-solid fa-book-open-reader"></i> 내 시리즈</a>
                    </li>
                    <li><a href="/usr/article/notice1/list"><i class="fa-regular fa-flag"></i> 공지사항 게시판</a></li>
                    <li><a href="/usr/article/free1/list"><i class="fa-solid fa-face-grin-tears"></i> 자유 게시판</a></li>
                    <li th:if="${@rq.login}">
                        <a href="/usr/member/logout">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i> 로그아웃
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

</body>

</html>