<html layout:decorate="~{usr/common/layout}">

<head>
    <title th:text="${@rq.producerPageName}"></title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
</head>

<body>

<div class="flex-1 flex items-center justify-center" layout:fragment="content">
    <div class="max-w-2xl w-full px-4">
        <h1 class="mb-4">
            <i class="fa-brands fa-product-hunt"></i>
            <span th:text="${@rq.producerPageName}"></span>
        </h1>

        <form class="flex flex-col gap-6" method="POST" name="be-producer-form"
              onsubmit="submitBeProducerForm(this); return false;"
              th:action>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">아이디</span>
                </label>
                <div class="badge badge-lg badge-ghost" th:text="${@rq.member.username}"></div>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">별명</span>
                </label>
                <div class="badge badge-lg badge-ghost" th:text="${@rq.member.nickname}"></div>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">활동명</span>
                </label>
                <input class="input input-bordered" maxlength="30" name="producerName" placeholder="활동명"
                       th:value="${@rq.member.producerName}" type="text" onchange="$(this).keyup();"
                       onkeyup="checkProducerNameDupDebounce();" onpaste="setTimeoutZero(() => $(this).keyup());">
                <div class="mt-2 text-sm"></div>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">정산 예정 금액</span>
                </label>
                <div class="restCash badge badge-lg badge-ghost" th:text="${@rq.member.restCash}"></div>
            </div>

            <div>
                <button class="btn btn-block btn-primary gap-1">
                    <i class="fa-brands fa-product-hunt"></i>
                    <span th:unless="${@rq.producer}">크리에이터 활동시작</span>
                    <span th:if="${@rq.producer}">크리에이터 정보수정</span>
                </button>

                <div class="text-center">
                    <a class="btn btn-link" href="/usr/member/me">내 정보</a>
                    <a class="btn btn-link" href="/usr/member/logout">로그아웃</a>
                    <a class="btn btn-link" href="/usr/member/withdrawal">회원탈퇴</a>
                </div>
            </div>
        </form>

        <script>

            document.addEventListener('DOMContentLoaded', function() {
              var restCashElement = document.querySelector('.restCash');

              if (restCashElement) {
                var restCashValue = parseInt(restCashElement.textContent, 10);

                if (!isNaN(restCashValue)) {
                  restCashElement.textContent = restCashValue.toLocaleString('ko-KR') + ' 원';
                }
              }
            });

        </script>

        <script>
            const beProducerForm = document['be-producer-form'];

            // producerName 중복체크 시작
            function checkProducerNameDup(form) {
                form.producerName.value = form.producerName.value.trim();

                if (form.producerName.value.length == 0) {
                    clearProducerNameInputMsg();
                    return;
                }

                if (form.producerName.value.length < 2) {
                    clearProducerNameInputMsg();
                    return;
                }

                if (lastCheckedProducerName == form.producerName.value) return;

                lastCheckedProducerName = form.producerName.value;

                clearProducerNameInputMsg();

                fetch(
                    'checkProducerNameDup?producerName=' + form.producerName.value
                )
                    .then(res => res.json())
                    .then((rs) => {
                        if (rs.success) {
                            validProducerName = rs.data;
                        }

                        setProducerNameInputMsg(rs.success, rs.msg);
                    });
            }

            const checkProducerNameDupDebounce = _.debounce(() => checkProducerNameDup(beProducerForm), 500);

            function clearProducerNameInputMsg() {
                $(beProducerForm.producerName).removeClass('input-accent input-error');
                $(beProducerForm.producerName).next().removeClass('text-green-400 text-red-400');
                $(beProducerForm.producerName).next().empty();
            }

            function setProducerNameInputMsg(isSuccess, msg) {
                if (isSuccess) $(beProducerForm.producerName).addClass('input-accent');
                if (!isSuccess) $(beProducerForm.producerName).addClass('input-error');

                $(beProducerForm.producerName).next().addClass(isSuccess ? 'text-green-400' : 'text-red-400');

                $(beProducerForm.producerName).next().text(msg);
            }

            let validProducerName = '';
            let lastCheckedProducerName = '';
            // producerName 중복체크 끝

            let submitBeProducerFormDone = false;

            function submitBeProducerForm(form) {
                if (submitBeProducerFormDone) return;

                form.producerName.value = form.producerName.value.trim();

                if (form.producerName.value.length == 0) {
                    form.producerName.focus();
                    toastWarning('활동명을 입력해주세요.');
                    return;
                }

                if (form.producerName.value.length < 2) {
                    form.producerName.focus();
                    toastWarning('활동명을 2자 이상 입력해주세요.');
                    return;
                }

                if (validProducerName != form.producerName.value) {
                    $(form.producerName).next().focus();
                    toastWarning('활동명 중복체크를 해주세요.');
                    return;
                }

                form.submit();
                submitBeProducerFormDone = true;
            }
        </script>
    </div>
</div>

</body>

</html>